version: "3.9"

services:
  api:
    container_name: triisney_api
    build:
      context: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]